.issue-detail {
  &__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    ng-icon {
      --ng-icon__size: var(--icon-xl);
    }
  }

  &__reporter {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    opacity: 0.85;
  }
}
