<div class="admin-search-panel">
  <h2 class="admin-search-panel__title">{{ 'ADMIN.SEARCH_PANEL.TITLE' | translate }}</h2>
  <p class="admin-search-panel__subtitle">
    {{ 'ADMIN.SEARCH_PANEL.SUBTITLE' | translate }}
  </p>
  <label class="admin-search-panel__label" for="quran-search-input">{{
    'ADMIN.SEARCH_PANEL.INPUT_LABEL' | translate
  }}</label>
  <div class="admin-search-panel__input-row">
    <nz-input-group [nzPrefix]="searchIconTpl" class="admin-search-panel__input-group">
      <input
        nz-input
        id="quran-search-input"
        class="admin-search-panel__input"
        type="text"
        [placeholder]="'ADMIN.SEARCH_PANEL.PLACEHOLDER' | translate"
      />
    </nz-input-group>
    <button nz-button nzType="primary" class="admin-search-panel__btn" (click)="onSearch()">
      <ng-icon name="lucideSearch" />
      {{ 'ADMIN.SEARCH_PANEL.SEARCH' | translate }}
    </button>
  </div>
  <ng-template #searchIconTpl>
    <ng-icon name="lucideSearch" class="admin-search-panel__prefix-icon" />
  </ng-template>
  <div class="admin-search-panel__empty">
    <ng-icon name="lucideSearch" class="admin-search-panel__empty-icon" />
    <p class="admin-search-panel__empty-title">
      {{ 'ADMIN.SEARCH_PANEL.EMPTY_TITLE' | translate }}
    </p>
    <p class="admin-search-panel__empty-subtitle">
      {{ 'ADMIN.SEARCH_PANEL.EMPTY_SUBTITLE' | translate }}
    </p>
  </div>
</div>
