.usage-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  ::ng-deep .ant-spin-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__board {
    width: 100%;
    flex: 1;
    min-height: calc(100vh - 64px);
    border: none;
  }
}
