<div class="usage-page">
  <nz-spin [nzSpinning]="loading()">
    @if (hasError()) {
      <nz-alert
        nzType="warning"
        [nzMessage]="'USAGE.ERROR_UNAVAILABLE' | translate"
        nzShowIcon
      ></nz-alert>
    } @else if (!boardUrl() && !loading()) {
      <nz-empty [nzNotFoundContent]="'USAGE.NO_DATA' | translate"></nz-empty>
    } @else if (boardUrl()) {
      <iframe
        class="usage-page__board"
        [src]="boardUrl()!"
        frameborder="0"
        allowfullscreen
      ></iframe>
    }
  </nz-spin>
</div>
