<div class="publisher-form">
  <div class="publisher-form__header">
    <div class="publisher-form__header-text">
      <h2 class="publisher-form__title">
        {{
          (isEditMode() ? 'ADMIN.PUBLISHERS.FORM.TITLE_EDIT' : 'ADMIN.PUBLISHERS.FORM.TITLE_CREATE')
            | translate
        }}
      </h2>
      <p class="publisher-form__subtitle">
        {{
          (isEditMode()
            ? 'ADMIN.PUBLISHERS.FORM.SUBTITLE_EDIT'
            : 'ADMIN.PUBLISHERS.FORM.SUBTITLE_CREATE'
          ) | translate
        }}
      </p>
    </div>
    <button
      type="button"
      nz-button
      nzType="default"
      class="publisher-form__back-btn"
      (click)="onCancel()"
    >
      <ng-icon name="lucideArrowRight" />
      {{ 'ADMIN.PUBLISHERS.FORM.BACK' | translate }}
    </button>
  </div>

  @if (loadingDetail()) {
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 10 }"></nz-skeleton>
  } @else {
    <form nz-form [formGroup]="form" nzLayout="vertical" (ngSubmit)="onSubmit()">
      <div class="publisher-form__card">
        <h3 class="publisher-form__card-title">
          <ng-icon name="lucideSquarePen" />
          {{ 'ADMIN.PUBLISHERS.FORM.SECTION_NAME' | translate }}
        </h3>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.PUBLISHER_ADD.NAME_AR_LABEL' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.PUBLISHERS.FORM.ERR_NAME_AR' | translate">
                <input
                  nz-input
                  formControlName="name_ar"
                  [placeholder]="'ADMIN.PUBLISHER_ADD.NAME_AR_LABEL' | translate"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.PUBLISHER_ADD.NAME_EN_LABEL' | translate }}</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="name_en"
                  [placeholder]="'ADMIN.PUBLISHER_ADD.NAME_EN_LABEL' | translate"
                  dir="ltr"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="publisher-form__card">
        <h3 class="publisher-form__card-title">
          <ng-icon name="lucideMapPin" />
          {{ 'ADMIN.PUBLISHERS.FORM.SECTION_CONTACT' | translate }}
        </h3>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.PUBLISHER_ADD.COUNTRY' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-select
                  formControlName="country"
                  [nzPlaceHolder]="'ADMIN.PUBLISHER_ADD.COUNTRY' | translate"
                  nzAllowClear
                  nzShowSearch
                >
                  @for (country of countryOptions; track country) {
                    <nz-option [nzValue]="country" [nzLabel]="countryLabel(country)"></nz-option>
                  }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.PUBLISHER_ADD.FOUNDATION_YEAR' | translate }}</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  type="number"
                  formControlName="foundation_year"
                  placeholder="2020"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.PUBLISHER_ADD.WEBSITE' | translate }}</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="website"
                  placeholder="https://example.com"
                  dir="ltr"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.PUBLISHER_ADD.EMAIL' | translate }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.PUBLISHERS.FORM.ERR_EMAIL' | translate">
                <input
                  nz-input
                  formControlName="contact_email"
                  placeholder="info@example.com"
                  dir="ltr"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-form-item>
          <nz-form-label>{{ 'ADMIN.PUBLISHER_ADD.ADDRESS' | translate }}</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="address"
              [placeholder]="'ADMIN.PUBLISHER_ADD.ADDRESS' | translate"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="publisher-form__card">
        <h3 class="publisher-form__card-title">
          <ng-icon name="lucideImage" />
          {{ 'ADMIN.PUBLISHERS.FORM.SECTION_ICON' | translate }}
        </h3>
        <nz-form-item>
          <nz-form-label>{{ 'ADMIN.PUBLISHERS.FORM.ICON_HINT' | translate }}</nz-form-label>
          <nz-form-control>
            <div class="publisher-form__icon-upload">
              @if (iconPreview()) {
                <div class="publisher-form__icon-preview">
                  <img
                    [src]="iconPreview()!"
                    [attr.alt]="'ADMIN.PUBLISHER_ADD.ICON_URL' | translate"
                  />
                  <button type="button" nz-button nzType="default" (click)="removeIcon()">
                    {{ 'ADMIN.PUBLISHERS.FORM.REMOVE_IMAGE' | translate }}
                  </button>
                </div>
              } @else {
                <nz-upload
                  [nzFileList]="iconFileList()"
                  [nzBeforeUpload]="beforeIconUpload"
                  nzAccept="image/*"
                  [nzMultiple]="false"
                  [nzShowUploadList]="false"
                >
                  <button nz-button nzType="default" type="button">
                    <ng-icon name="lucideUpload" />
                    {{ 'ADMIN.PUBLISHERS.FORM.UPLOAD_IMAGE' | translate }}
                  </button>
                </nz-upload>
              }
            </div>
          </nz-form-control>
        </nz-form-item>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.PUBLISHERS.FORM.DESC_LABEL_AR' | translate }}</nz-form-label>
              <nz-form-control>
                <textarea
                  nz-input
                  formControlName="description_ar"
                  [placeholder]="'ADMIN.PUBLISHER_ADD.DESCRIPTION' | translate"
                  [nzAutosize]="{ minRows: 4, maxRows: 8 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.PUBLISHERS.FORM.DESC_LABEL_EN' | translate }}</nz-form-label>
              <nz-form-control>
                <textarea
                  nz-input
                  formControlName="description_en"
                  [placeholder]="'ADMIN.PUBLISHER_ADD.DESCRIPTION' | translate"
                  dir="ltr"
                  [nzAutosize]="{ minRows: 4, maxRows: 8 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="publisher-form__footer">
        <button type="button" nz-button nzType="default" (click)="onCancel()">
          {{ 'ADMIN.PUBLISHERS.FORM.BACK' | translate }}
        </button>
        <button
          nz-button
          nzType="primary"
          [nzLoading]="submitting()"
          [disabled]="form.invalid"
          type="submit"
        >
          {{
            (isEditMode() ? 'ADMIN.PUBLISHERS.FORM.SAVE_EDIT' : 'ADMIN.PUBLISHERS.FORM.SAVE_CREATE')
              | translate
          }}
        </button>
      </div>
    </form>
  }
</div>
