<div class="folder-switcher">
  <div class="folder-switcher__tab-bar" role="tablist">
    @for (folder of folders(); track folder.id) {
      <div
        class="folder-switcher__tab"
        [class.folder-switcher__tab--active]="folder.id === activeFolderId()"
        [class.folder-switcher__tab--default]="folder.isDefault"
        role="tab"
        tabindex="0"
        [attr.aria-selected]="folder.id === activeFolderId()"
        (click)="onSelectTab(folder.id)"
        (keyup.enter)="onSelectTab(folder.id)"
        (keyup.space)="onSelectTab(folder.id)"
      >
        <div class="folder-switcher__tab-main">
          @if (folder.isDefault) {
            <span
              class="folder-switcher__star-wrapper"
              [nz-tooltip]="'ADMIN.RECITATIONS.FOLDERS.DEFAULT_TAG' | translate"
            >
              <ng-icon name="lucideStar" class="folder-switcher__star-icon" />
            </span>
          } @else {
            <ng-icon name="lucideFolder" class="folder-switcher__folder-icon" />
          }
          <span class="folder-switcher__tab-title">{{ folder.name }}</span>
          <span class="folder-switcher__tab-badge">({{ folder.trackCount }})</span>
        </div>

        @if (canManage()) {
          <div class="folder-switcher__tab-actions">
            <button
              nz-dropdown
              [nzDropdownMenu]="folderMenu"
              nzTrigger="click"
              nz-button
              nzType="text"
              nzSize="small"
              class="folder-switcher__more-btn"
              [attr.aria-label]="'ADMIN.RECITATIONS.FOLDERS.ACTIONS' | translate"
              (click)="$event.stopPropagation()"
            >
              <ng-icon name="lucideSettings" />
            </button>
            <nz-dropdown-menu #folderMenu="nzDropdownMenu">
              <ul nz-menu>
                @if (!folder.isDefault) {
                  <li
                    nz-menu-item
                    tabindex="0"
                    (click)="onSetDefault(folder.id)"
                    (keyup.enter)="onSetDefault(folder.id)"
                  >
                    <ng-icon name="lucideStar" class="folder-switcher__menu-icon--star" />
                    <span>{{ 'ADMIN.RECITATIONS.FOLDERS.SET_DEFAULT' | translate }}</span>
                  </li>
                }
                <li
                  nz-menu-item
                  tabindex="0"
                  (click)="openRenameModal(folder)"
                  (keyup.enter)="openRenameModal(folder)"
                >
                  <ng-icon name="lucideSquarePen" class="folder-switcher__menu-icon" />
                  <span>{{ 'ADMIN.RECITATIONS.FOLDERS.RENAME_FOLDER' | translate }}</span>
                </li>
                <li
                  nz-menu-item
                  nzDanger
                  tabindex="0"
                  [nzDisabled]="folders().length <= 1"
                  (click)="confirmDelete(folder)"
                  (keyup.enter)="confirmDelete(folder)"
                >
                  <ng-icon name="lucideTrash2" class="folder-switcher__menu-icon" />
                  <span>{{ 'ADMIN.RECITATIONS.FOLDERS.DELETE_FOLDER' | translate }}</span>
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        }
      </div>
    }

    @if (canManage()) {
      <button
        type="button"
        class="folder-switcher__add-tab"
        [attr.title]="'ADMIN.RECITATIONS.FOLDERS.ADD_FOLDER' | translate"
        (click)="openCreateModal()"
      >
        <ng-icon name="lucidePlus" />
        <span class="folder-switcher__add-label">{{
          'ADMIN.RECITATIONS.FOLDERS.ADD_FOLDER' | translate
        }}</span>
      </button>
    }
  </div>

  <!-- Create Folder Modal -->
  <nz-modal
    [nzVisible]="isCreateModalVisible()"
    [nzTitle]="'ADMIN.RECITATIONS.FOLDERS.CREATE_TITLE' | translate"
    [nzOkText]="'ADMIN.COMMON.ADD' | translate"
    [nzCancelText]="'ADMIN.COMMON.CANCEL' | translate"
    [nzOkDisabled]="!newFolderName().trim()"
    (nzOnCancel)="closeCreateModal()"
    (nzOnOk)="submitCreate()"
  >
    <ng-container *nzModalContent>
      <div class="folder-switcher__modal-form">
        <label for="createFolderNameInput" class="folder-switcher__field-label">{{
          'ADMIN.RECITATIONS.FOLDERS.CREATE_LABEL' | translate
        }}</label>
        <input
          id="createFolderNameInput"
          nz-input
          [placeholder]="'ADMIN.RECITATIONS.FOLDERS.CREATE_PLACEHOLDER' | translate"
          [ngModel]="newFolderName()"
          (ngModelChange)="newFolderName.set($event)"
          (keydown.enter)="submitCreate()"
        />
      </div>
    </ng-container>
  </nz-modal>

  <!-- Rename Folder Modal -->
  <nz-modal
    [nzVisible]="isRenameModalVisible()"
    [nzTitle]="'ADMIN.RECITATIONS.FOLDERS.RENAME_TITLE' | translate"
    [nzOkText]="'ADMIN.COMMON.SAVE' | translate"
    [nzCancelText]="'ADMIN.COMMON.CANCEL' | translate"
    [nzOkDisabled]="!renameFolderName().trim()"
    (nzOnCancel)="closeRenameModal()"
    (nzOnOk)="submitRename()"
  >
    <ng-container *nzModalContent>
      <div class="folder-switcher__modal-form">
        <label for="renameFolderNameInput" class="folder-switcher__field-label">{{
          'ADMIN.RECITATIONS.FOLDERS.RENAME_LABEL' | translate
        }}</label>
        <input
          id="renameFolderNameInput"
          nz-input
          [ngModel]="renameFolderName()"
          (ngModelChange)="renameFolderName.set($event)"
          (keydown.enter)="submitRename()"
        />
      </div>
    </ng-container>
  </nz-modal>

  <!-- Delete Folder Confirmation Modal -->
  <nz-modal
    [nzVisible]="isDeleteConfirmVisible()"
    [nzTitle]="'ADMIN.RECITATIONS.FOLDERS.DELETE_CONFIRM_TITLE' | translate"
    [nzOkText]="'ADMIN.COMMON.DELETE' | translate"
    nzOkType="primary"
    [nzOkDanger]="true"
    [nzCancelText]="'ADMIN.COMMON.CANCEL' | translate"
    (nzOnCancel)="closeDeleteConfirm()"
    (nzOnOk)="submitDelete()"
  >
    <ng-container *nzModalContent>
      <p>
        {{
          'ADMIN.RECITATIONS.FOLDERS.DELETE_CONFIRM_BODY'
            | translate: { name: deletingFolder()?.name ?? '' }
        }}
      </p>
    </ng-container>
  </nz-modal>
</div>
