<div class="reciter-form">
  <div class="reciter-form__header">
    <div class="reciter-form__header-text">
      <h2 class="reciter-form__title">
        {{
          (isEditMode() ? 'ADMIN.RECITERS.FORM.TITLE_EDIT' : 'ADMIN.RECITERS.FORM.TITLE_CREATE')
            | translate
        }}
      </h2>
      <p class="reciter-form__subtitle">
        {{
          (isEditMode()
            ? 'ADMIN.RECITERS.FORM.SUBTITLE_EDIT'
            : 'ADMIN.RECITERS.FORM.SUBTITLE_CREATE'
          ) | translate
        }}
      </p>
    </div>
    <a routerLink="/admin/reciters">
      <button nz-button nzType="default" class="reciter-form__back-btn">
        <ng-icon name="lucideArrowRight" />
        {{ 'ADMIN.RECITERS.FORM.BACK_LIST' | translate }}
      </button>
    </a>
  </div>

  @if (loadingDetail()) {
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 8 }"></nz-skeleton>
  } @else {
    <form nz-form [formGroup]="form" nzLayout="vertical" (ngSubmit)="onSubmit()">
      <div class="reciter-form__card">
        <h3 class="reciter-form__card-title">
          <ng-icon name="lucideSquarePen" /> {{ 'ADMIN.RECITERS.FORM.SECTION_NAME' | translate }}
        </h3>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.RECITERS.FORM.NAME_AR' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.RECITERS.FORM.ERR_NAME_AR' | translate">
                <input
                  nz-input
                  formControlName="name_ar"
                  [placeholder]="'ADMIN.RECITERS.FORM.PLACEHOLDER_NAME_AR' | translate"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.RECITERS.FORM.NAME_EN' | translate }}</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="name_en"
                  [placeholder]="'ADMIN.RECITERS.FORM.PLACEHOLDER_NAME_EN' | translate"
                  dir="ltr"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="reciter-form__card">
        <h3 class="reciter-form__card-title">
          <ng-icon name="lucideFileText" /> {{ 'ADMIN.RECITERS.FORM.SECTION_BIO' | translate }}
        </h3>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.RECITERS.FORM.BIO_AR' | translate }}</nz-form-label>
              <nz-form-control>
                <textarea
                  nz-input
                  formControlName="bio_ar"
                  [placeholder]="'ADMIN.RECITERS.FORM.PLACEHOLDER_BIO_AR' | translate"
                  [nzAutosize]="{ minRows: 3, maxRows: 8 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.RECITERS.FORM.BIO_EN' | translate }}</nz-form-label>
              <nz-form-control>
                <textarea
                  nz-input
                  formControlName="bio_en"
                  [placeholder]="'ADMIN.RECITERS.FORM.PLACEHOLDER_BIO_EN' | translate"
                  dir="ltr"
                  [nzAutosize]="{ minRows: 3, maxRows: 8 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="reciter-form__card">
        <h3 class="reciter-form__card-title">
          <ng-icon name="lucideGlobe" /> {{ 'ADMIN.RECITERS.FORM.SECTION_EXTRA' | translate }}
        </h3>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{
                'ADMIN.RECITERS.FORM.NATIONALITY_LABEL' | translate
              }}</nz-form-label>
              <nz-form-control>
                <nz-select
                  formControlName="nationality"
                  nzShowSearch
                  nzAllowClear
                  [nzPlaceHolder]="'ADMIN.RECITERS.FORM.PLACEHOLDER_NATIONALITY' | translate"
                >
                  @for (c of nationalityOptions; track c) {
                    <nz-option [nzValue]="c" [nzLabel]="countryLabel(c)"></nz-option>
                  }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{
                'ADMIN.RECITERS.FORM.DATE_DEATH_LABEL' | translate
              }}</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="date_of_death"
                  [placeholder]="'ADMIN.RECITERS.FORM.PLACEHOLDER_DATE_DEATH' | translate"
                  dir="ltr"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="reciter-form__footer">
        <a routerLink="/admin/reciters">
          <button nz-button type="button">{{ 'ADMIN.RECITERS.FORM.CANCEL' | translate }}</button>
        </a>
        <button nz-button nzType="primary" [nzLoading]="submitting()" [disabled]="submitting()">
          {{
            (isEditMode() ? 'ADMIN.RECITERS.FORM.SUBMIT_EDIT' : 'ADMIN.RECITERS.FORM.SUBMIT_CREATE')
              | translate
          }}
        </button>
      </div>
    </form>
  }
</div>
