.reciter-form {
  padding: 8px 0;

  &__image-upload {
    display: flex;
    align-items: center;
  }

  &__image-preview {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 64px;
      height: 64px;
      object-fit: cover;
      border-radius: var(--radius-lg); // 8px
      border: 1px solid var(--admin-border-200);
    }
  }
}
