<div class="admin-audio-stats">
  <div class="admin-audio-stats__header">
    <div>
      <h2 class="admin-audio-stats__title">{{ 'ADMIN.AUDIO_STATS.TITLE' | translate }}</h2>
      <p class="admin-audio-stats__subtitle">
        {{ 'ADMIN.AUDIO_STATS.SUBTITLE' | translate }}
      </p>
    </div>
    @if (usingMock()) {
      <span class="admin-audio-stats__badge">{{ 'ADMIN.AUDIO_STATS.MOCK_BADGE' | translate }}</span>
    }
  </div>

  <div class="admin-audio-stats__cards">
    @if (loading()) {
      <div class="admin-audio-stats__card admin-audio-stats__card--skeleton">
        <div class="admin-audio-stats__icon-skeleton"></div>
        <div class="admin-audio-stats__value-skeleton"></div>
        <div class="admin-audio-stats__label-skeleton"></div>
      </div>
      <div class="admin-audio-stats__card admin-audio-stats__card--skeleton">
        <div class="admin-audio-stats__icon-skeleton"></div>
        <div class="admin-audio-stats__value-skeleton"></div>
        <div class="admin-audio-stats__label-skeleton"></div>
      </div>
      <div class="admin-audio-stats__card admin-audio-stats__card--skeleton">
        <div class="admin-audio-stats__icon-skeleton"></div>
        <div class="admin-audio-stats__value-skeleton"></div>
        <div class="admin-audio-stats__label-skeleton"></div>
      </div>
    } @else if (stats()) {
      <div class="admin-audio-stats__card">
        <div class="admin-audio-stats__icon admin-audio-stats__icon--riwayas">
          <ng-icon name="lucideBookOpen" />
        </div>
        <div class="admin-audio-stats__value">{{ stats()!.riwayas }}</div>
        <div class="admin-audio-stats__label">
          {{ 'ADMIN.AUDIO_STATS.LABEL_RIWAYAS' | translate }}
        </div>
      </div>

      <div class="admin-audio-stats__card">
        <div class="admin-audio-stats__icon admin-audio-stats__icon--recitations">
          <ng-icon name="lucideMusic" />
        </div>
        <div class="admin-audio-stats__value">{{ stats()!.recitations }}</div>
        <div class="admin-audio-stats__label">
          {{ 'ADMIN.AUDIO_STATS.LABEL_RECITATIONS' | translate }}
        </div>
      </div>

      <div class="admin-audio-stats__card">
        <div class="admin-audio-stats__icon admin-audio-stats__icon--reciters">
          <ng-icon name="lucideVolume2" />
        </div>
        <div class="admin-audio-stats__value">{{ stats()!.reciters }}</div>
        <div class="admin-audio-stats__label">
          {{ 'ADMIN.AUDIO_STATS.LABEL_RECITERS' | translate }}
        </div>
      </div>
    }
  </div>
</div>
