<div class="admin-column-picker">
  <button
    type="button"
    nz-button
    nzType="default"
    nz-popover
    nzPopoverTrigger="click"
    [nzPopoverContent]="columnPopover"
    nzPopoverPlacement="bottomRight"
    class="admin-column-picker__trigger"
  >
    <ng-icon name="lucideLayoutGrid" aria-hidden="true" />
    {{ 'ADMIN.COMMON.COLUMN_PICKER_BUTTON' | translate }}
  </button>
  <ng-template #columnPopover>
    <div class="admin-column-picker__panel">
      <div class="admin-column-picker__hint">
        {{ 'ADMIN.COMMON.COLUMN_PICKER_HINT' | translate }}
      </div>
      @for (c of columns(); track c.key) {
        <label class="admin-column-picker__row">
          <input
            type="checkbox"
            class="admin-column-picker__checkbox"
            [checked]="isChecked(c.key)"
            (change)="onToggle(c.key, $any($event.target).checked)"
          />
          <span class="admin-column-picker__label">{{ c.label | translate }}</span>
        </label>
      }
    </div>
  </ng-template>
</div>
