<div class="publisher-filters" dir="rtl">
  <nz-input-group [nzPrefix]="searchIcon" class="publisher-filters__search">
    <input
      nz-input
      type="text"
      placeholder="ابحث عن ناشر..."
      [ngModel]="searchValue"
      (ngModelChange)="onSearchChange($event)"
    />
  </nz-input-group>
  <ng-template #searchIcon><ng-icon name="lucideSearch" /></ng-template>

  <nz-select
    class="publisher-filters__country"
    nzPlaceHolder="الدولة"
    nzAllowClear
    nzShowSearch
    [ngModel]="selectedCountry"
    (ngModelChange)="onCountryChange($event)"
  >
    @for (country of countryOptions; track country) {
      <nz-option [nzValue]="country" [nzLabel]="countryLabel(country)"></nz-option>
    }
  </nz-select>

  <nz-select
    class="publisher-filters__select"
    nzPlaceHolder="حالة التوثيق"
    nzAllowClear
    [ngModel]="selectedVerified"
    (ngModelChange)="onVerifiedChange($event)"
  >
    <nz-option nzLabel="موثق" [nzValue]="true"></nz-option>
    <nz-option nzLabel="غير موثق" [nzValue]="false"></nz-option>
  </nz-select>
</div>
