.publisher-filters {
  &__modal-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
  }

  &__modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  &__country,
  &__select {
    width: 100%;
  }
}
