<div class="tafsir-form">
  <div class="tafsir-form__header">
    <div class="tafsir-form__header-text">
      <h2 class="tafsir-form__title">
        {{
          (isEditMode() ? 'ADMIN.TAFSIRS.FORM.EDIT_TITLE' : 'ADMIN.TAFSIRS.FORM.CREATE_TITLE')
            | translate
        }}
      </h2>
      <p class="tafsir-form__subtitle">
        {{
          (isEditMode() ? 'ADMIN.TAFSIRS.FORM.SUBTITLE_EDIT' : 'ADMIN.TAFSIRS.FORM.SUBTITLE_CREATE')
            | translate
        }}
      </p>
    </div>
    <a routerLink="/admin/tafsirs">
      <button nz-button nzType="default" class="tafsir-form__back-btn">
        <ng-icon name="lucideArrowRight" />
        {{ 'ADMIN.TAFSIRS.FORM.BACK_LIST' | translate }}
      </button>
    </a>
  </div>

  @if (loadingDetail()) {
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 10 }"></nz-skeleton>
  } @else {
    <form nz-form [formGroup]="form" nzLayout="vertical" (ngSubmit)="onSubmit()">
      <div class="tafsir-form__card">
        <h3 class="tafsir-form__card-title">
          <ng-icon name="lucideSquarePen" /> {{ 'ADMIN.TAFSIRS.FORM.SECTION_NAME' | translate }}
        </h3>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.TAFSIRS.FORM.NAME_AR' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.TAFSIRS.FORM.ERR_NAME_AR' | translate">
                <input
                  nz-input
                  formControlName="name_ar"
                  [placeholder]="'ADMIN.TAFSIRS.FORM.PLACEHOLDER_NAME_AR' | translate"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.TAFSIRS.FORM.NAME_EN' | translate }}</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="name_en"
                  [placeholder]="'ADMIN.TAFSIRS.FORM.PLACEHOLDER_NAME_EN' | translate"
                  dir="ltr"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="tafsir-form__card">
        <h3 class="tafsir-form__card-title">
          <ng-icon name="lucideFileText" />
          {{ 'ADMIN.TAFSIRS.FORM.SECTION_SHORT_DESC' | translate }}
        </h3>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.TAFSIRS.FORM.DESCRIPTION_AR' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.TAFSIRS.FORM.ERR_DESC_AR' | translate">
                <textarea
                  nz-input
                  formControlName="description_ar"
                  [placeholder]="'ADMIN.TAFSIRS.FORM.PLACEHOLDER_DESC_AR' | translate"
                  [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.TAFSIRS.FORM.DESCRIPTION_EN' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.TAFSIRS.FORM.ERR_DESC_EN' | translate">
                <textarea
                  nz-input
                  formControlName="description_en"
                  [placeholder]="'ADMIN.TAFSIRS.FORM.PLACEHOLDER_DESC_EN_SHORT' | translate"
                  dir="ltr"
                  [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="tafsir-form__card">
        <h3 class="tafsir-form__card-title">
          <ng-icon name="lucideAlignRight" />
          {{ 'ADMIN.TAFSIRS.FORM.SECTION_LONG_DESC' | translate }}
        </h3>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.TAFSIRS.FORM.LONG_DESCRIPTION_AR' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.TAFSIRS.FORM.ERR_LONG_AR' | translate">
                <textarea
                  nz-input
                  formControlName="long_description_ar"
                  [placeholder]="'ADMIN.TAFSIRS.FORM.PLACEHOLDER_LONG_AR' | translate"
                  [nzAutosize]="{ minRows: 5, maxRows: 10 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.TAFSIRS.FORM.LONG_DESCRIPTION_EN' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.TAFSIRS.FORM.ERR_LONG_EN' | translate">
                <textarea
                  nz-input
                  formControlName="long_description_en"
                  [placeholder]="'ADMIN.TAFSIRS.FORM.PLACEHOLDER_LONG_EN' | translate"
                  dir="ltr"
                  [nzAutosize]="{ minRows: 5, maxRows: 10 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="tafsir-form__card">
        <h3 class="tafsir-form__card-title">
          <ng-icon name="lucideSettings" /> {{ 'ADMIN.TAFSIRS.FORM.SECTION_META' | translate }}
        </h3>
        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="8">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.TAFSIRS.FORM.LICENSE' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.TAFSIRS.FORM.ERR_LICENSE' | translate">
                <nz-select
                  formControlName="license"
                  [nzPlaceHolder]="'ADMIN.TAFSIRS.FORM.PLACEHOLDER_LICENSE' | translate"
                  nzAllowClear
                >
                  @for (l of licenseOptions; track l) {
                    <nz-option [nzValue]="l" [nzLabel]="l"></nz-option>
                  }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="8">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.TAFSIRS.FORM.LANGUAGE' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.TAFSIRS.FORM.ERR_LANGUAGE' | translate">
                <nz-select
                  formControlName="language"
                  [nzPlaceHolder]="'ADMIN.TAFSIRS.FORM.PLACEHOLDER_LANGUAGE' | translate"
                  nzAllowClear
                >
                  <nz-option nzValue="ar" [nzLabel]="languageLabel('ar')"></nz-option>
                  <nz-option nzValue="en" [nzLabel]="languageLabel('en')"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="8">
            <nz-form-item>
              <nz-form-label nzRequired>{{
                'ADMIN.TAFSIRS.FORM.PUBLISHER' | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'ADMIN.TAFSIRS.FORM.ERR_PUBLISHER' | translate">
                <nz-select
                  formControlName="publisher_id"
                  [nzPlaceHolder]="'ADMIN.TAFSIRS.FORM.PLACEHOLDER_PUBLISHER' | translate"
                  nzAllowClear
                  nzShowSearch
                  nzServerSearch
                  [nzLoading]="publishersLoading()"
                  (nzOnSearch)="onPublisherSearch($event)"
                >
                  @for (pub of publisherOptions(); track pub.id) {
                    <nz-option [nzValue]="pub.id" [nzLabel]="pub.name"></nz-option>
                  }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="20">
          <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="8">
            <nz-form-item>
              <nz-form-label>{{ 'ADMIN.TAFSIRS.FORM.LABEL_EXTERNAL' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName="is_external"></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="16" [nzXs]="24" [nzSm]="16">
            <nz-form-item>
              <nz-form-label>{{
                'ADMIN.TAFSIRS.FORM.LABEL_EXTERNAL_URL' | translate
              }}</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="external_url"
                  placeholder="https://example.com/tafsir"
                  dir="ltr"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-form-item>
          <nz-form-label>{{ 'ADMIN.TAFSIRS.FORM.UPLOAD_TITLE' | translate }}</nz-form-label>
          <nz-form-control>
            <div class="tafsir-form__thumbnail-area">
              @if (thumbnailPreview()) {
                <div class="tafsir-form__thumbnail-preview">
                  <img [src]="thumbnailPreview()!" alt="" />
                  <button
                    type="button"
                    class="tafsir-form__thumbnail-remove"
                    (click)="removeThumbnail()"
                    nz-tooltip
                    [nzTooltipTitle]="'ADMIN.TAFSIRS.FORM.REMOVE_IMAGE' | translate"
                  >
                    <ng-icon name="lucideCircleX" />
                  </button>
                </div>
              } @else {
                <nz-upload
                  nzType="drag"
                  [nzFileList]="fileList()"
                  [nzBeforeUpload]="beforeUpload"
                  nzAccept="image/*"
                  [nzMultiple]="false"
                  [nzShowUploadList]="false"
                >
                  <p class="ant-upload-drag-icon">
                    <ng-icon name="lucideInbox" />
                  </p>
                  <p class="ant-upload-text">{{ 'ADMIN.TAFSIRS.FORM.UPLOAD_DRAG' | translate }}</p>
                  <p class="ant-upload-hint">{{ 'ADMIN.TAFSIRS.FORM.UPLOAD_HINT' | translate }}</p>
                </nz-upload>
              }
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="tafsir-form__footer">
        <a routerLink="/admin/tafsirs">
          <button type="button" nz-button nzType="default">
            {{ 'ADMIN.TAFSIRS.FORM.CANCEL' | translate }}
          </button>
        </a>
        <button
          nz-button
          nzType="primary"
          [nzLoading]="submitting()"
          [disabled]="form.invalid"
          type="submit"
        >
          {{
            (isEditMode() ? 'ADMIN.TAFSIRS.FORM.SUBMIT_EDIT' : 'ADMIN.TAFSIRS.FORM.SUBMIT_CREATE')
              | translate
          }}
        </button>
      </div>
    </form>
  }
</div>
