<div class="mushaf-words">
  <div class="mushaf-filter-card">
    <div class="mushaf-filter-card__header">
      <h3 class="mushaf-filter-card__title">{{ 'ADMIN.MUSHAFS.WORDS_TABLE_TITLE' | translate }}</h3>
      <p class="mushaf-filter-card__hint">
        {{ 'ADMIN.MUSHAFS.WORDS_HINT' | translate }}
      </p>
    </div>

    <div class="words-filter-grid">
      <div class="filter-group">
        <label class="mushaf-filter-card__label">{{
          'ADMIN.MUSHAFS.FILTER_BY_SURAH' | translate
        }}</label>
        <nz-select
          [nzPlaceHolder]="'ADMIN.MUSHAFS.ALL_SURAHS' | translate"
          nzAllowClear
          nzShowSearch
          [ngModel]="selectedSurahId()"
          (ngModelChange)="onSurahChange($event)"
          style="width: 100%"
        >
          @for (s of surahs(); track s.surah_number) {
            <nz-option
              [nzValue]="s.surah_number"
              [nzLabel]="s.surah_number + '. ' + s.name_ar"
            ></nz-option>
          }
        </nz-select>
      </div>
      <div class="filter-group">
        <label class="mushaf-filter-card__label">{{
          'ADMIN.MUSHAFS.SEARCH_WORD_LABEL' | translate
        }}</label>
        <nz-input-group [nzSuffix]="searchSuffix">
          <input
            nz-input
            type="text"
            [ngModel]="searchTerm()"
            (ngModelChange)="onSearchChange($event)"
            [placeholder]="'ADMIN.MUSHAFS.SEARCH_WORD_PLACEHOLDER' | translate"
          />
        </nz-input-group>
        <ng-template #searchSuffix>
          <ng-icon name="lucideSearch" class="mushaf-filter-card__search-icon" />
        </ng-template>
      </div>
    </div>

    <div class="mushaf-filter-card__actions">
      <span class="results-count"
        >{{ 'ADMIN.MUSHAFS.RESULTS_LABEL' | translate }} <strong>{{ totalResults() }}</strong>
        {{ 'ADMIN.MUSHAFS.WORDS_UNIT' | translate }}</span
      >
      <button nz-button nzType="default" nzSize="small" (click)="clearFilters()">
        <ng-icon name="lucideX" />
        {{ 'ADMIN.MUSHAFS.CLEAR_ALL_FILTERS' | translate }}
      </button>
    </div>
  </div>

  <div class="admin-table-wrap">
    @if (loading()) {
      <nz-spin nzSimple class="mushaf-words__spinner"></nz-spin>
    } @else if (filteredWords().length === 0) {
      <div class="admin-empty-state">
        <ng-icon name="lucideInbox" class="admin-empty-state__icon" />
        <p class="admin-empty-state__title">{{ 'ADMIN.MUSHAFS.WORDS_EMPTY' | translate }}</p>
      </div>
    } @else {
      <nz-table
        #wordsTable
        [nzData]="paginatedWords()"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        nzSize="middle"
      >
        <thead>
          <tr>
            <th nzWidth="140px">{{ 'ADMIN.MUSHAFS.COL_WORD_ID' | translate }}</th>
            <th nzWidth="180px">{{ 'ADMIN.MUSHAFS.COL_UTHMANI' | translate }}</th>
            <th nzWidth="160px">{{ 'ADMIN.MUSHAFS.COL_SPELLING' | translate }}</th>
            <th nzWidth="130px">{{ 'ADMIN.MUSHAFS.COL_WORD_SURAH_NAME' | translate }}</th>
            <th nzWidth="90px">{{ 'ADMIN.MUSHAFS.COL_WORD_SURAH_ID' | translate }}</th>
            <th nzWidth="90px">{{ 'ADMIN.MUSHAFS.COL_WORD_AYAH_ID' | translate }}</th>
            <th nzWidth="120px">{{ 'ADMIN.MUSHAFS.COL_WORD_POSITION' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (word of wordsTable.data; track word.id) {
            <tr>
              <td>
                <nz-tag nzColor="blue">{{ word.id }}</nz-tag>
              </td>
              <td class="uthmani-text">{{ word.text_uthmani }}</td>
              <td>{{ word.text_spelling }}</td>
              <td>{{ word.surah_name }}</td>
              <td>{{ word.surah_id }}</td>
              <td>{{ word.ayah_id }}</td>
              <td>
                <nz-tag nzColor="green">{{ word.position }}</nz-tag>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>

      <div class="admin-pagination">
        <nz-pagination
          [nzPageIndex]="currentPage()"
          [nzTotal]="totalResults()"
          [nzPageSize]="pageSize()"
          [nzShowSizeChanger]="true"
          [nzPageSizeOptions]="[10, 25, 50, 100]"
          (nzPageIndexChange)="currentPage.set($event)"
          (nzPageSizeChange)="pageSize.set($event); currentPage.set(1)"
        ></nz-pagination>
      </div>
    }
  </div>
</div>
